/*Медиа-запросы*/

@media (min-width: 576px) {
	#if-mobile {
	display: block;
	color: black;
}

#fullpage {
	display: none;
}
}

@media (min-width: 992px) { 
	#fullpage {
		display: block;
	}
	#if-mobile {
		display: none;
	}
}





html {
	min-height: 100%;
}

body {
	margin: 0;
}

section {
	min-height: 100vh;
	padding: 10px;
	font-family: 'Poiret One', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section p {
	text-align: justify;
	font-size: 32px;
	margin: 0;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

section p:last-of-type {
	text-align: center;
}

#title {
	background-color: #00C3B5;
	color: #F5E6AF;
}

#title h1 {
	font-size: 62px !important;
	text-align: center;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#page1 {
	background-color: #50713A;
	color: #fff;
}

#page2 {
	background-color: #000E21;
	color: #00C3B5;
}

#page3 {
	background-color: #000;
	color: #fff;
}

#page4 {
	background-color: #ccc;
	color: #FF7079;
}